# Python

venv/
__pycache__/
*.pyc

# Environment

.env

# Uploads

uploads/*
!uploads/.gitkeep

# Node

node_modules/

# Vite

dist/

# VS Code

.vscode/

# OS

.DS_Store
Thumbs.db

frontend/.env
backend/.env